---
layout: default
title: Home
---

<div class="home">

  <div class="masterhead">
    <div class="wrapper">
      <h1 class="page-heading">Welcome!</h1>
    </div>
  </div>

  <div class="wrapper">

    <div class="content-col-1">
      <h2>Recent Blog Posts</h2>
      <ul class="post-list">
        {% for post in site.categories.blog %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="content-col-2">
      <h2>My Projects</h2>
      <ul class="post-list">
        {% for post in site.categories.projects %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>
