/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/**
 * Basic styling
 */
html {
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  position: relative;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  padding-left: 20px;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 15%);
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */

 /*
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

*/

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: #fff;
    }
  }
}


/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
LINK STYLES
*********************/



/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/



/*********************
HEADER STYLES
*********************/

.site-header {
  min-height: 56px;
  text-align: center;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;

  &:visited {
    color: $grey-color-dark;
  }
}

.masterhead {
  position: relative;
  background: $grey-color-dark;
  color: #fff;
  padding: 20px 0;

  &:after,
  &:before {
    bottom: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    content: '';
    background: linear-gradient(to right, #fff 0, $brand-color 33%, $secondary-color 66%, #000 100%);
  }

  &:before {
    top: 0;
  }
}

/*********************
NAVIGATION STYLES
*********************/

.site-nav {
  line-height: 56px;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 3px solid $brand-color;
      text-decoration: none;
    }

    &.active {
      border-bottom: 3px solid #E75242;
    }

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}


/*********************
POSTS & CONTENT STYLES
*********************/

/**
 * Page content
 */
.page-content {
  // shift for stickuy footer
  padding-bottom: 360px;
}

.page-heading {

}

.post-list {
  padding-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  h2 {
    margin-top: 0;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-light;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/



/******************************************************************
COMMENT STYLES
******************************************************************/



/******************************************************************
COMMENT FORM STYLES
******************************************************************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/

.site-footer {
  background: $grey-color-dark;
  padding: $spacing-unit 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  a {
    color: #fff;
    text-decoration: underline;
  }

  &:before {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: linear-gradient(to right, #fff 0, $brand-color 33%, $secondary-color 66%, #000 100%);
  }
}

.footer-heading {
  color: #fff;
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.social-media-list {
  list-style: none;
  padding-left: 0;

  a {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color-light;
  @extend %clearfix;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}
