<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a class="page-link{% if page.url == '/index.html' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      <a class="page-link{% if page.url == site.blogurl %} active{% endif %}" href="{{ site.blogurl }}">Blog</a>
      <a class="page-link{% if page.url == site.projectsurl %} active{% endif %}" href="{{ site.projectsurl }}">Projects</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="page-link{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

  </div>

</header>
